# CI-only version constraints.
# Use via: python -m pip install -c requirements/constraints-ci.txt <packages...>

conan>=2.4,<3
cmake>=3.27,<4
ninja>=1.11,<2
pymimir==0.13.63
PyYAML>=6.0,<7
pytest>=8.0,<9
torch-geometric>=2.7
torch>=2.2,<3
